*{
    margin: 0px;
    padding: 0px;
}
*{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Lora', serif;
    font-weight: 400;
}
.font-roboto, .font-roboto a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
header{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
}
.banner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.header-flex{
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-nav ul{
     display: flex;
     align-items: center;
}
.header-nav ul li a{
   font-size: 12px;
   line-height: 14px;
   color: #e5e5e5;
}
.header-nav ul li a:hover{
    color: rgb(0, 0, 0);
    transition: all .3s;
}
.header-nav ul li{
    margin-right: 25px ;
}
.header-nav ul li:last-child{
    margin-right: 0px;
}
.header-flex-2,
.header-social ul{
    display: flex;
}
.header-social ul li{
    margin-right: 18px;
}
.header-social ul li:last-child{
    margin-right: 0px;
}
.header-social{
    margin: 0px 17px;
    border-left: 0.5px solid #e5e5e5;
    border-right: 0.5px solid #e5e5e5;
    padding: 0px 17px;
}
.banner{
    position: relative;
}
.banner-info{
    position:absolute;
    width: 530px;
    left: 70px;
    bottom: 140px;
    color: #ffffff;
}
.tag{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
}
.middle-line{
    height: 1px;
    min-width: 30px;
    background: #e5e5e5;
    margin: 9px 11px;
}
.text-flex{
    display: flex;
}
.zagalovok{
    margin:20px 0px 15px 0px;
}
.container{
    width: 1300px;
    margin: 150px auto;
}
.h2-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #495057;
}
.filter-list{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.filter-list li{
    margin-right: 20px;
}
.filter-list li:last-child{
    margin-left: auto;
    margin-right: 0px;
}
.filter-list li a{
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: #495057;
}
.filter-list li a:hover{
    transition: all 0.3s;
    color: #d4a373;
}
.topic{
    width: 310px;
    position: relative;
    color: #6c757d;
}
.topic-image{
width: 100%;
height: 280px;
}
.topic-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.tag-list{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}
.tag-list li{
    margin-right: 10px;
}
.tag-list li:last-child{
    margin-top: 0px;
}
.topic-data{
    font-size: 12px;
    line-height: 15px;
    
}
.topic-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    
}
.topic-text{
    font-size: 12px;
    line-height: 20px;
}
.topic p{
    margin-top: 15px;
}
.topics-list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
}
.big-post{
    position: absolute;
    top: 224px;
    text-align: center;
    width: 530px;
    height: 92px;
    left: calc(50% - 530px / 2);
    color: #FFFFFF;
}
.middle-line1{
    height: 1px;
    width: 30px;
    background: #e5e5e5;
    margin: 15px 250px;
    font-size: 12px;
    line-height: 20px;
}
.big-post-date{
    margin-top: 15px;
}
.big-post-text{
    width: 420px;
    margin: 13px auto 24px auto;
}
.big-post h2{
    margin-top: 24px;
    color: #fff;
    font-size: 36px;
    line-height: 46px;
}
.topic{
    cursor:pointer;
}
.topic-image{
    overflow: hidden;
    border-radius: 5px;
}
.topic:hover .topic-image img{
transform: scale(1.2);
transition: all .3s;
}
.tag-list{
    z-index: 1;
}
.post{
    position: relative;
    width: 420px;
    height: 350px;
}
.post img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}
.post .topic{
    color: #e5e5e5;
    position: absolute;
    z-index: 1;
    bottom: 42px;
    left: 40px;
    width: auto;
    right: 40px;
}
.post .topic .topic-title{
    color:#fff;
}
.post-list{
    display: flex;
    gap: 50px 20px;
}
footer{
    width: 100%;
    background: #212529;
    padding: 106px 0px 0px 0px;
    box-sizing: border-box;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.footer-container h3{
    font-weight: bolt;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
.footer-container .header-social{
    border: none;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}    
.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 18px 0px;
}
.footer-container a {
    color: #E5E5E5;
    font-size: 12px;
    line-height: 15px;
}
.footer-container p {
    color: #E5E5E5;
    font-size: 12px;
    line-height: 20px;
}
.subscribe{
 width: 100%;
 padding: 31px 0px;
 margin-top: 106px;
 background: #343A40;
}
.subscribe-flex{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
}
.mobile-filter{
    display: block;
    margin: 15px 0px;
}
.mobile-filter p {
    font-size: 18px;
    line-height: 25px;
    color: #495057;
}
.mobile-filter select{
    width: 100%;
    border: none;
    color: #495057;
    padding: 5px 7px;
    border-radius: 5px;
    margin-top: 5px;
}
.big-post-text{
    width: auto;
}
.hamburger-lable{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
}
.hamburger{
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 8px;
}
.hamburger::after,
.hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 8px;
    position: absolute;
    left: 0px;
    transition: .3s;
}
.hamburger::after{
    transform: translateY(-10px);
}
.hamburger::before{
    transform: translateY(10px);
}
#hamburger{
    display: none;
}
#hamburger:checked ~ header .header-flex .mobile-hamburger-container .hamburger-lable .hamburger::before{
    transform: rotate(45deg);
    transition: .3s;
}
#hamburger:checked ~ header .header-flex .mobile-hamburger-container .hamburger-lable .hamburger::after{
    transform: rotate(-45deg);
    transition: .3s;
}
#hamburger:checked ~ header .header-flex .mobile-hamburger-container .hamburger-lable .hamburger{
    height: 0px;
}
.mobile-menu{
    position: absolute;
    left: 0px;
    top: -500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
#hamburger:checked ~ header{
    background: rgba(0, 0, 0, 0.7);
}
#hamburger:checked ~ header .mobile-menu {
    top:80px;
    transition: all 0.3s;
}
.mobile-menu ul li {
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: #e5e5e5;
}
.mobile-menu ul a{
    color: #e5e5e5;
}
